# Byte-compiled / cached
__pycache__/
*.py[cod]
*.swp
*.swo
*.bak

# Virtual environment
venv/
.env
.venv
*.env
*.venv

# Logs and debug files
logs/
*.log
debug.log

# Python package files
*.egg-info/
*.egg
*.manifest
*.spec

# IDE and Editor files
.vscode/
.idea/
*.iml
*.sublime-workspace
*.sublime-project

# Cache files
.cache/
.mypy_cache/
.pytest_cache/
.dockerignore

# Dependencies
Pipfile
Pipfile.lock
poetry.lock

# Database and migrations
*.sqlite3
db.sqlite3
migrations/

# Docker-related
docker-compose.override.yml
.docker/

# FastAPI-specific
instance/
*.db
alembic/versions/

# Build artifacts
build/
dist/
*.tar.gz
*.whl

# Coverage reports
htmlcov/
.coverage
.coverage.*

# System files
.DS_Store
Thumbs.db
